.whiteframe {
    background-color: #FFF;
    padding: 2% 2%;
    width: 30%;
    margin: auto;
    border: 2px solid #DDD;
    border-radius: 10px;
}

#frametitle {
    color: #000;
    text-align: center;
    font-size: 200%;
}

#framesubtitle {
    color: #555;
    text-align: center;
    font-size: 120%;
}

#usId {
    margin: auto;
    padding: 2%;
    width: 80%;
}

#pw {
    margin: auto;
    padding: 2%;
    width: 80%;
}

#orangebutton {
    float: right;
    background-color: orange;
    color: white;
    font-size: 150%;
    border-radius: 10px;
    border: 0px;
    padding: 6%;
    width: 30%;
}

#orangebutton:hover {
    background-color: #e69500;
    cursor: pointer;
}

#headingblock {
    background-color: #333;
    width: 100%;
}

#headingele {
    margin: auto;
    width: 60%;
}

#headhead {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

#headdes {
    color: white;
    font-size: 28px;
}

#contentblockodd {
    background-color: #CCC;
    width: 100%;
}

#contentblockeven {
    background-color: white;
    width: 100%;
}
